// @import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;700;900&display=swap');

@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
// font-family: 'Work Sans', sans-serif;

// COLORES CORPORATIVOS
$alamano_azul: #042974;
$alamano_naranja: #e64a23;
$p-s: 50px;

// MODIFICANDO VARIBLES DEL TEMA
$body-bg: #f2f2f2;
$primary: $alamano_naranja;
$link-decoration: none !important;
$list-group-bg: transparent;

// FUENTES
$font-family-sans-serif: 'Work Sans';
$font-family-monospace: 'Work Sans';
$font-weight-lighter: 100;
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$btn-font-family: $font-family-sans-serif;
$btn-font-weight: $font-weight-bold;

// BOTONES

@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
// @import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
// @import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
// @import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
// @import '../node_modules/bootstrap/scss/card';
// @import '../node_modules/bootstrap/scss/accordion';
// @import '../node_modules/bootstrap/scss/breadcrumb';
// @import '../node_modules/bootstrap/scss/pagination';
// @import '../node_modules/bootstrap/scss/badge';
// @import '../node_modules/bootstrap/scss/alert';
// @import '../node_modules/bootstrap/scss/progress';
@import '../node_modules/bootstrap/scss/list-group';
// @import '../node_modules/bootstrap/scss/close';
// @import '../node_modules/bootstrap/scss/toasts';
// @import '../node_modules/bootstrap/scss/modal';
// @import '../node_modules/bootstrap/scss/tooltip';
// @import '../node_modules/bootstrap/scss/popover';
// @import '../node_modules/bootstrap/scss/carousel';
// @import '../node_modules/bootstrap/scss/spinners';
// @import '../node_modules/bootstrap/scss/offcanvas';
// @import '../node_modules/bootstrap/scss/placeholders';

@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/utilities/api';
@import '../node_modules/bootstrap/scss/helpers';

// ESTILOS PERSONALES
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-bold;
}
.btn-primary {
  color: #fff !important;
}

.navbar {
  background-color: $body-bg;
  .logo {
    width: 60%;
    height: auto;
  }
}
.portada {
  margin-top: 68px;
  padding-top: $p-s;
  padding-bottom: $p-s;
  .container {
    .row {
      h1 {
        font-size: 3em;
        .servicio {
          color: $alamano_naranja;
        }
      }
      p {
        font-size: 1.3rem;
        line-height: 1.7;
      }
    }
  }
}
.servicios,
.como_funciona,
.que_ofrecemos {
  padding-top: $p-s;
  padding-bottom: $p-s;
  img {
    width: auto;
    height: 100px;
  }
}

.plataforma {
  li .svg-inline--fa {
    width: 18px;
    height: auto;
  }
}

.como_funciona {
  .time_line {
    div {
      font-size: 1em;
      line-height: 1.75em;
      border-top: 3px solid;
      border-image: linear-gradient(
        to left,
        $alamano_azul 0%,
        $alamano_naranja 100%
      );
      border-image-slice: 1;
      border-width: 3px;
      counter-increment: section;
      position: relative;

      //numbers
      &:before {
        content: counter(section);
        position: absolute;
        border-radius: 50%;
        padding: 0px;
        height: 1.25em;
        width: 1.25em;
        background-color: $alamano_azul;
        text-align: center;
        line-height: 1.25em;
        color: $white;
        font-family: $font-family-sans-serif;
        font-weight: bold;
        font-size: 2em;
      }
      p {
        margin: 0 !important;
      }
    }
    //odd number borders
    div:nth-child(odd) {
      border-left: 3px solid;
      padding-left: 0;

      &:before {
        left: 0%;
        margin-left: -20px;
        background-color: $alamano_naranja;
      }
    }
    //even number borders
    div:nth-child(even) {
      border-right: 3px solid;
      padding-right: 0;

      &:before {
        right: 0%;
        margin-right: -20px;
      }
    }
    //handle first and last
    div:first-child {
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    div:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
